# Server Port (used for local development)
PORT=3001

# JWT Secret Key
JWT_SECRET="music_intro_quiz_secret_key_2026_argon2"

# Neon DB Connection String (PostgreSQL)
# ตัวอย่าง:
DATABASE_URL="postgresql://neondb_owner:password@ep-delicate-math-b3xifvv6-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"
